In [1]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
#from config import api_key

In [2]:
alien_5y_df = pd.read_csv('../project-1-alien-analysis/scrubbed.csv')
alien_5y_df.dropna(inplace = True) 
alien_5y_df.head()

C:\Users\jocel\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333

In [3]:
alien_5y_df.sort_values(by=['date posted'], inplace=True, ascending=False)
alien_5y_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
79474,9/5/2013 22:30,shrewsbury,pa,us,circle,120,2 minute,Bright orange round light in sky moving slowly...,9/9/2013,39.7686,-76.680000
62676,7/4/2013 22:00,copiague,ny,us,light,10,10 seconds,He came&#44 changed colors&#44 then just disap...,9/9/2013,40.6813889,-73.400278
79468,9/5/2013 21:00,hayden,al,us,unknown,300,5 minutes,Approx. 21:00 hrs seen two lights very close t...,9/9/2013,33.8925,-86.757778
79466,9/5/2013 21:00,emerald isle,nc,us,circle,120,2 minutes,Emerald Isle orange lights.,9/9/2013,34.6778,-76.951111
79465,9/5/2013 21:00,easton,pa,us,fireball,180,2-3 minutes,Round object high in sky with flames coming fr...,9/9/2013,40.6883,-75.221111

In [5]:
ADate_df = alien_5y_df['date posted'].head()

In [38]:
#alien_5y_df['datetime'] = [r.hour for r in alien_5y_df.datetime]
#Adate_df= pd.DataFrame(alien_5y_df)

#df_ages['age_bins'] = pd.cut(x=df_ages['age'], bins=[20, 29, 39, 49])
#bins
bins = [
    
    1/1/1992,
    1/1/1997,
    1/1/2002,
    1/1/2007,
    1/1/2012,
    1/31/2014
   ]
# add custom labels if desired
labels = ['1992-1996', '1997-2001', '2002-2006', '2007-2011', '2012-2014']
# add the bins to the dataframe
Adate_df =pd.cut(x=Adate_df['date posted'],bins = bins)
Adate_df

ValueError: bins must increase monotonically.

In [19]:
sigtings = ADate_df['Date Posted'].sum()

KeyError: 'Date Posted'

In [20]:
year =['1992-1996', '1997-2001', '2002-2006', '2007-2011', '2012-2014']

plt.plot(year,sigtings)
plt.title('Sigtings by 5 Year')
plt.xlabel('Years')
plt.ylabel('Number of Sightings')
plt.show()

NameError: name 'sigtings' is not defined