In [20]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
#from config import api_key

In [21]:
alien_5y_df = pd.read_csv('../project-1-alien-analysis/scrubbed.csv')
alien_5y_df.dropna(inplace = True) 
alien_5y_df.head()

C:\Users\jocel\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333

In [22]:
alien_5y_df.sort_values(by=['datetime'], inplace=True, ascending=False)
alien_5y_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444

In [19]:
#alien_5y_df['datetime'] = [r.hour for r in alien_5y_df.datetime]
alien_5y_df= pd.to_dateposted(alien_5y_df)

#bins
bins = [
    
    01-01-1992,
    01-01-1997,
    01-01-2002,
    01-01-2007,
    01-01-2012,
    2014,
   ]
# add custom labels if desired
labels = ['1992-1996', '1997-2001', '2002-2006', '2007-2011', '2012-2015']
# add the bins to the dataframe
alien_5y_df['datetime'] = pd.cut(alien_5y_df.date.dt.year, bins, labels=labels, right=False)

SyntaxError: invalid token (<ipython-input-19-290251643e3f>, line 7)

In [ ]:
sigtings =

In [39]:
year =['1992-1996', '1997-2001', '2002-2006', '2007-2011', '2012-2015']

plt.plot(timedate,sigtings)
plt.title('title name')
plt.xlabel('Years')
plt.ylabel('Number of Sightings')
plt.show()

NameError: name 'timedate' is not defined