In [25]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import datetime

In [26]:
alien_time_df = pd.read_csv('../project-1-alien-analysis/scrubbed.csv')
alien_time_df.dropna(inplace = True) 
alien_time_df.head()

C:\Users\jocel\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333

In [84]:
alien_dates_df = pd.cut(alien_time_df, bins=24)
#alien_dates_df= pd.cut(x=alien_dates_df['age'], bins=[20, 29, 39, 49])

ValueError: Input array must be 1 dimensional

In [81]:
#Get times only
#alien_time_df['datetime'][-4:]
times = alien_time_df.datetime.str.split(expand=True).drop(columns = 0)
times

           1
0      20:30
3      21:00
4      20:00
5      19:00
7      23:45
...      ...
80327  21:15
80328  22:00
80329  22:00
80330  22:20
80331  23:00

[66516 rows x 1 columns]

In [ ]:
alien_dates_df= pd.cut(x=alien_dates_df['age'], bins=[20, 29, 39, 49])

In [69]:
times_df["1"] = pd.cut(times_df.timestamp.dt.hour, bins=24)

AttributeError: type object 'DataFrame' has no attribute 'timestamp'

In [77]:
#frequency = x= number of sigtings per hour
#need to bin down hours
#hours = pd.to_datetime(times=24, format='%H:%M:%S').dt.hour
hours = pd.to_datetime(times_df['1'], format='%H:%M:%S').dt.hour

TypeError: 'type' object is not subscriptable