In [6]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import datetime
import numpy as np

In [2]:
#print csv to df
alien_time_df = pd.read_csv('../project-1-alien-analysis/scrubbed.csv')
alien_time_df.dropna(inplace = True) 
alien_time_df.head()

C:\Users\jocel\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333

In [136]:
#1st attempt to cut out times
#alien_dates_df = pd.cut(alien_time_df, bins=24)
alien_dates_df["binned_hours"] = pd.cut(alien_time_df.datetime.dt.hour, bins=24)

AttributeError: Can only use .dt accessor with datetimelike values

In [12]:
#Get times only by dropping Dates, column 1 = times 
#alien_time_df['datetime'][-4:]
times = alien_time_df.datetime.str.split(expand=True).drop(columns = 0)
times

           1
0      20:30
3      21:00
4      20:00
5      19:00
7      23:45
...      ...
80327  21:15
80328  22:00
80329  22:00
80330  22:20
80331  23:00

[66516 rows x 1 columns]

In [15]:
#bin into 24 hour increments in a new dataframe for total sigthing each hour
#times = timesdatetime.str.split(expand=True).drop(columns = 0)

#def times(lower_bound, width, quantity):
    
 #   times_bin = []    
#for loop defining upper and lower bounds 
  #  for low in range(lower_bound,lower_bound + quantity*width + 1, width):
   #     times.append((low, low+width))
    #times_bin = times(lower_bound=0,width=1,quantity=24)
    #print(bins)
    #return [times_bin]
#labels = [ ]
#print(times_bin)
#print(times_bin)

#need the labels for a 24 hour period




#alien_time_df= pd.cut(x=times['1'], bins=[20, 29, 39, 49])

In [16]:
bins = np.arange(0,24,1)
bins

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [17]:
times_df = times(lower_bound=0,width=1,quantity=24)
print(times)

TypeError: 'DataFrame' object is not callable

In [129]:
times_df= pd.cut(times_df["1'].dt.hour, bins=24)

SyntaxError: EOL while scanning string literal (<ipython-input-129-d2b4327cb564>, line 1)

In [77]:
#frequency = x= number of sigtings per hour
#need to bin down hours
#hours = pd.to_datetime(times=24, format='%H:%M:%S').dt.hour
hours = pd.to_datetime(times_df['1'], format='%H:%M:%S').dt.hour

TypeError: 'type' object is not subscriptable

In [ ]:
#hours vs number of sightings (total)

In [ ]:
#Sightings by days of the week 

In [13]: friday = pd.Timestamp('2018-01-05')
In [14]: friday.day_name()
Out[14]: 'Friday'
# Add 1 day
In [15]: saturday = friday + pd.Timedelta('1 day')
In [16]: saturday.day_name()
Out[16]: 'Saturday'
# Add 1 business day (Friday --> Monday)
In [17]: monday = friday + pd.offsets.BDay()
In [18]: monday.day_name()
Out[18]: 'Monday'