In [15]:
#import dependecies 
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import datetime
#from config import api_key

In [16]:
#import csv to create inital data frame
alien_5y_df = pd.read_csv('../project-1-alien-analysis/scrubbed.csv')
alien_5y_df.dropna(inplace = True) 
alien_5y_df.head()

C:\Users\jocel\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333

In [17]:
#sort by date posted (delete?)
alien_5y_df.sort_values(by=['date posted'], inplace=True, ascending=False)
alien_5y_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
79474,9/5/2013 22:30,shrewsbury,pa,us,circle,120,2 minute,Bright orange round light in sky moving slowly...,9/9/2013,39.7686,-76.680000
62676,7/4/2013 22:00,copiague,ny,us,light,10,10 seconds,He came&#44 changed colors&#44 then just disap...,9/9/2013,40.6813889,-73.400278
79468,9/5/2013 21:00,hayden,al,us,unknown,300,5 minutes,Approx. 21:00 hrs seen two lights very close t...,9/9/2013,33.8925,-86.757778
79466,9/5/2013 21:00,emerald isle,nc,us,circle,120,2 minutes,Emerald Isle orange lights.,9/9/2013,34.6778,-76.951111
79465,9/5/2013 21:00,easton,pa,us,fireball,180,2-3 minutes,Round object high in sky with flames coming fr...,9/9/2013,40.6883,-75.221111

In [18]:
#check counts and set 
alien_5y_df["duration (seconds)"].describe()

count     66516
unique      620
top         300
freq       5920
Name: duration (seconds), dtype: object

In [ ]:

#Print bins

ted_df["Bin Group"] = pd.cut(ted_df["views"], bins, labels=labels)
ted_df.head()

In [47]:
## Bin by five year span 
#alien_5y_df['datetime'] = [r.hour for r in alien_5y_df.datetime]
#Adate_df= pd.DataFrame(alien_5y_df)

#df_ages['age_bins'] = pd.cut(x=df_ages['age'], bins=[20, 29, 39, 49])
#bins
#bins = [1992 1-1,1997-1-1,2002-1-1, 2007-1-1,2012-1-1, 2014-12-31]
import numpy as np
bins = np.arange(1992,2017,4)
# add custom labels 
labels = ['1992-1996', '1997-2001', '2002-2006', '2007-2011', '2012-2014']
# add the bins to the dataframe
Adate_df = pd.cut(x=alien_5y_df['date posted'],bins = [bins], labels = ['labels'])

# Adate_df = pd.DateFrame[{"Date Posted": labels
                          
    
# }]
Adate_df.head()

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [41]:
alien_5y_df["bins"] = pd.cut(alien_5y_df["date posted"], bins, labels = labels)
alien_5y_df

TypeError: '<' not supported between instances of 'int' and 'str'

In [42]:
#bins = pd.date_range('1993-01-01', periods=5, freq='H')
#dti = pd.date_range('1993-01-01', periods=5, freq='H')

idx = pd.date_range('2018-01-01', periods=4, freq='Y')

DatetimeIndex = pd.Series(range(len(idx)), index=idx)
DatetimeIndex(['1993-01-01 00:00:00', '1993-01-01 01:00:00',
               '1993-01-01 02:00:00'],
              #dtype='datetime64[ns]', freq='H')
              dtype='datetime64[ns]', freq='Y')

TypeError: 'Series' object is not callable

In [43]:
alien_5y_df["date posted"].unique()

array(['9/9/2013', '9/9/2004', '9/9/2003', '9/6/2002', '9/4/2003',
       '9/30/2013', '9/29/2004', '9/29/2002', '9/28/2003', '9/28/2002',
       '9/26/1998', '9/24/2012', '9/24/2003', '9/21/2000', '9/2/2005',
       '9/19/2002', '9/17/2003', '9/17/2000', '9/15/2005', '9/13/2002',
       '9/12/2003', '9/12/1999', '9/1/2004', '8/7/2011', '8/7/2007',
       '8/5/2012', '8/5/2009', '8/5/2001', '8/5/2000', '8/4/2003',
       '8/30/2013', '8/30/2010', '8/30/1999', '8/28/2009', '8/28/2003',
       '8/28/2002', '8/27/2009', '8/25/2000', '8/24/2010', '8/24/2004',
       '8/21/2011', '8/20/2001', '8/19/2012', '8/19/2000', '8/16/2002',
       '8/14/2007', '8/12/2008', '8/12/2001', '8/11/2004', '8/10/1999',
       '8/1/2003', '7/8/2004', '7/6/2011', '7/6/2010', '7/5/2013',
       '7/5/2008', '7/5/2005', '7/5/1999', '7/4/2012', '7/4/2011',
       '7/30/2002', '7/3/2013', '7/29/2010', '7/29/2000', '7/28/2010',
       '7/26/2002', '7/25/2004', '7/23/2003', '7/23/2000', '7/22/2013',
       '7/19/2010', '7/17/2011', '7/16/2006', '7/16/2003', '7/15/2005',
       '7/14/2013', '7/14/1999', '7/13/2005', '7/11/2000', '7/10/2010',
       '7/1/2002', '6/9/2009', '6/8/2012', '6/6/2000', '6/5/2012',
       '6/4/2004', '6/3/2011', '6/3/2010', '6/3/2003', '6/27/2011',
       '6/23/2010', '6/23/2004', '6/23/1999', '6/21/2000', '6/20/2012',
       '6/20/2011', '6/20/2005', '6/2/2013', '6/2/1998', '6/18/2004',
       '6/18/2003', '6/18/1998', '6/14/2012', '6/13/2002', '6/12/2011',
       '6/12/2008', '6/12/2007', '6/12/2002', '6/10/2010', '6/10/2003',
       '5/9/2003', '5/8/2014', '5/4/2004', '5/3/2000', '5/29/2012',
       '5/29/2011', '5/28/2005', '5/27/2003', '5/24/2005', '5/24/1999',
       '5/23/1999', '5/2/2014', '5/2/2011', '5/2/2003', '5/15/2013',
       '5/15/2006', '5/14/2002', '5/13/2012', '5/13/2003', '5/12/2011',
       '5/12/2010', '5/12/2009', '5/11/2005', '5/11/2000', '5/10/2004',
       '4/9/2004', '4/8/2002', '4/4/2014', '4/30/2004', '4/3/2011',
       '4/28/2001', '4/27/2007', '4/27/2004', '4/27/2003', '4/26/2000',
       '4/26/1999', '4/25/2002', '4/24/2014', '4/22/2003', '4/2/1999',
       '4/18/2014', '4/18/2012', '4/17/2008', '4/16/2005', '4/15/2000',
       '4/14/2009', '4/13/2010', '4/12/2013', '4/11/2014', '4/1/2001',
       '4/1/2000', '3/9/2004', '3/8/2007', '3/7/2000', '3/7/1998',
       '3/6/2001', '3/4/2008', '3/4/2003', '3/31/2008', '3/3/2013',
       '3/29/2004', '3/28/2004', '3/27/2014', '3/25/2002', '3/23/2011',
       '3/23/2004', '3/21/2014', '3/21/2003', '3/2/2004', '3/19/2009',
       '3/19/2002', '3/18/2014', '3/17/2004', '3/16/2012', '3/16/2001',
       '3/16/2000', '3/13/2012', '3/11/2006', '3/11/2003', '3/10/2011',
       '3/1/2004', '2/8/2011', '2/8/2005', '2/7/2014', '2/5/2003',
       '2/4/2013', '2/3/2012', '2/28/2013', '2/27/2014', '2/27/2000',
       '2/25/2003', '2/24/2007', '2/24/2005', '2/24/2001', '2/23/2011',
       '2/23/2000', '2/22/2005', '2/22/2002', '2/21/2014', '2/18/2013',
       '2/18/2011', '2/18/2001', '2/16/2000', '2/16/1999', '2/14/2014',
       '2/14/2010', '2/14/2008', '2/14/2006', '2/12/2004', '2/11/2003',
       '2/10/2012', '2/1/2007', '12/9/2003', '12/9/2000', '12/7/2006',
       '12/5/2013', '12/5/2001', '12/3/2004', '12/23/2013', '12/23/2002',
       '12/21/2012', '12/20/2012', '12/20/2000', '12/2/2013', '12/2/2000',
       '12/19/2003', '12/17/2011', '12/16/2005', '12/16/1999',
       '12/14/2006', '12/14/2004', '12/12/2013', '12/12/2011',
       '12/12/2009', '11/9/2004', '11/9/2002', '11/9/1999', '11/8/2005',
       '11/8/2003', '11/4/2012', '11/4/2002', '11/30/1999', '11/3/2005',
       '11/28/2007', '11/26/2003', '11/23/1999', '11/21/2010',
       '11/21/1998', '11/20/2013', '11/20/2002', '11/20/2001',
       '11/2/2004', '11/2/1999', '11/19/2012', '11/19/1998', '11/17/1999',
       '11/16/2002', '11/11/2013', '11/11/2003', '11/1/1998', '10/8/2007',
       '10/7/2003', '10/31/2008', '10/31/2003', '10/30/2012',
       '10/30/2006', '10/3/2013', '10/28/2002', '10/27/2004',
       '10/25/2011', '10/23/2013', '10/20/2005', '10/2/1999',
       '10/19/2011', '10/19/1999', '10/17/2003', '10/15/2003',
       '10/15/2002', '10/14/2013', '10/12/2001', '10/11/2005',
       '10/10/2011', '1/7/2000', '1/5/2011', '1/31/2011', '1/31/2004',
       '1/30/2014', '1/3/2001', '1/29/2002', '1/28/1999', '1/27/2005',
       '1/26/2003', '1/24/2014', '1/24/2012', '1/22/2004', '1/22/2000',
       '1/21/2008', '1/20/2003', '1/19/2005', '1/17/2004', '1/16/2014',
       '1/12/2012', '1/11/2005', '1/11/2002', '1/10/2014', '1/10/2009'],
      dtype=object)

In [44]:
# sum sigthings by bin for total number of sigthings/5y set for entire set 

alien_5y_df.groupby['date posted']

TypeError: 'method' object is not subscriptable

In [20]:
#plot by bion year 
year =['1992-1996', '1997-2001', '2002-2006', '2007-2011', '2012-2014']

plt.plot(year,sightings)
plt.title('Sightings by 4 Year')
plt.xlabel('Years')
plt.ylabel('Number of Sightings')
plt.show()

NameError: name 'sigtings' is not defined