In [44]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import datetime
import numpy as np

In [48]:
#print csv to df
alien_time_df = pd.read_csv('../project-1-alien-analysis/ufo_dates.csv')
alien_time_df.dropna(inplace = True) 
alien_time_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year
0,10/10/1993 22:00,peoria,il,us,light,8,8 seconds,Light over Peoria&#44 IL that moves slowly&#44...,10/11/2005,40.693611,-89.588889,10,10,22:00,1993
1,10/10/1993 23:00,carthage,tn,us,other,60,less than 1 min,1 object with green and red lights,3/21/2003,36.252222,-85.951667,10,10,23:00,1993
2,10/10/1994 18:30,burnt hills,ny,us,rectangle,120,2 minutes,Giant rectangular craft (resembling an upside-...,10/23/2013,42.909722,-73.895556,10,10,18:30,1994
3,10/10/1994 22:00,pinebergen,ar,us,light,5,5 seconds,Round&#44 bright&#44 low flying object silentl...,2/18/2001,34.102778,-91.992222,10,10,22:00,1994
6,10/10/1996 03:20,higginsville,mo,us,triangle,3,3sec,illuminated triangular craft&#44 flying at hig...,2/16/2000,39.072500,-93.716944,10,10,03:20,1996

In [62]:
#1st attempt to cut out times
#alien_dates_df = pd.cut(alien_time_df, bins=24)
#
alien_dates_df["binned_hours"] = pd.cut(alien_time_df.datetime.dt.hour, bins=24)
alien_dates_df

AttributeError: Can only use .dt accessor with datetimelike values

In [76]:
alien_time_df['Hour'] = ""
for index, row in alien_time_df.iterrows():
        tme = row["Time"]
        hr,mn = tme.split(':')
    
        alien_time_df.loc[index, "Hour"] = hr
    
alien_time_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year,Hour
0,10/10/1993 22:00,peoria,il,us,light,8,8 seconds,Light over Peoria&#44 IL that moves slowly&#44...,10/11/2005,40.693611,-89.588889,10,10,22:00,1993,22
1,10/10/1993 23:00,carthage,tn,us,other,60,less than 1 min,1 object with green and red lights,3/21/2003,36.252222,-85.951667,10,10,23:00,1993,23
2,10/10/1994 18:30,burnt hills,ny,us,rectangle,120,2 minutes,Giant rectangular craft (resembling an upside-...,10/23/2013,42.909722,-73.895556,10,10,18:30,1994,18
3,10/10/1994 22:00,pinebergen,ar,us,light,5,5 seconds,Round&#44 bright&#44 low flying object silentl...,2/18/2001,34.102778,-91.992222,10,10,22:00,1994,22
6,10/10/1996 03:20,higginsville,mo,us,triangle,3,3sec,illuminated triangular craft&#44 flying at hig...,2/16/2000,39.072500,-93.716944,10,10,03:20,1996,03

In [83]:
hours_group_df = alien_time_df.groupby('Hour')

In [84]:
hours_group_df["shape"].count()

Hour
00    2829
01    2208
02    1545
03    1368
04    1122
05    1251
06     924
07     656
08     601
09     742
10     864
11     830
12     898
13     867
14     873
15     973
16    1121
17    1890
18    2968
19    4564
20    6493
21    8720
22    7950
23    5507
24     361
Name: shape, dtype: int64

In [87]:
test_df=hours_group_df["shape"].count()
test_df.reset_index()

   Hour  shape
0    00   2829
1    01   2208
2    02   1545
3    03   1368
4    04   1122
5    05   1251
6    06    924
7    07    656
8    08    601
9    09    742
10   10    864
11   11    830
12   12    898
13   13    867
14   14    873
15   15    973
16   16   1121
17   17   1890
18   18   2968
19   19   4564
20   20   6493
21   21   8720
22   22   7950
23   23   5507
24   24    361

In [77]:
#frequency = x= number of sigtings per hour
#need to bin down hours
#hours = pd.to_datetime(times=24, format='%H:%M:%S').dt.hour
hours = pd.to_datetime(times_df['1'], format='%H:%M:%S').dt.hour

TypeError: 'type' object is not subscriptable

In [90]:
alien_time_df["formatted_time"] = alien_time_df(f"{})

KeyError: 'formatted_time'

In [ ]:
alien_time_df['formatted_time'] = ""
for index, row in alien_time_df.iterrows():
        fmtt = row["Time"]
        hr =row[]
        day
        month
        = tme.split(':')
    
        alien_time_df.loc[index, "Hour"] = hr
    
alien_time_df.head()

In [89]:
#Sigthing by days of the week
alien_time_df['day_of_week'] = alien_time_df['datetime'].dt.weekday_name

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
#Sightings by days of the week 

In [13]: friday = pd.Timestamp('2018-01-05')
In [14]: friday.day_name()
Out[14]: 'Friday'
# Add 1 day
In [15]: saturday = friday + pd.Timedelta('1 day')
In [16]: saturday.day_name()
Out[16]: 'Saturday'
# Add 1 business day (Friday --> Monday)
In [17]: monday = friday + pd.offsets.BDay()
In [18]: monday.day_name()
Out[18]: 'Monday'