In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google developer API key
from config import gkey

In [13]:
# Import csv files as DataFrames
Aliens1_df = pd.read_csv("Data/scrubbed.csv")
Aliens1_df.head()

C:\Users\Doggger\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [15]:
# Selecting subset of US
Aliens1_df = Aliens1_df.loc[(Aliens1_df['country'] == 'us')]

#Creating new vairables for month, day, time and year from datetime
Aliens1_df[['Month', 'Day', 'Time']] = Aliens1_df['datetime'].str.split('/', expand=True)
Aliens1_df['Year']= Aliens1_df['Time'].str[0:4]
Aliens1_df['Time']= Aliens1_df['Time'].str[5:10]

#Further selecting subset for time frame on interest
Aliens1_df = Aliens1_df[Aliens1_df['Year'].between('1993', '2020')]

#Removes the space in the longitude column name
Aliens1_df = Aliens1_df.rename(columns={'longitude ': 'longitude'})

#Removes rows with null data
Aliens1_df['shape'].replace('', np.nan, inplace=True)
Aliens1_df.dropna(subset=['shape'], inplace=True)

C:\Users\Doggger\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\Doggger\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Doggger\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [44]:
# Creates new df with only 2013 data
Aliens2013_df = Aliens1_df.loc[(Aliens1_df['Year'] == '2013')]
Aliens2013_df.head(20)

Aliens2013_df = Aliens2013_df.reset_index()
Aliens2013_df = Aliens2013_df.drop(['index', 'comments', 'date posted'], axis = 1)

# first_half, second_half = np.array_split(Aliens2013_df, 2)
# second_half.count()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year
267,10/10/2013 02:32,palm harbor,fl,us,chevron,5,5 seconds,Tracking north to south at apx 2500 ft. A very...,10/14/2013,28.0777778,-82.763889,10,10,02:32,2013
269,10/10/2013 17:00,st. louis county,mo,us,light,10800,2-3 hours,Hovering bright object moving slowly around St...,10/23/2013,38.6272222,-90.197778,10,10,17:00,2013
271,10/10/2013 19:00,rittman,oh,us,light,60,1 minute,Fast moving white light.,10/14/2013,40.9780556,-81.782222,10,10,19:00,2013
273,10/10/2013 19:20,essex junction,vt,us,light,120,2 minutes,Noiseless&#44 low flying&#44 white&#44 bright ...,10/14/2013,44.4905556,-73.111389,10,10,19:20,2013
274,10/10/2013 19:20,kenner,la,us,circle,600,10 minutes,2 circle lights moving erratically over Kenner...,10/14/2013,29.9938889,-90.241667,10,10,19:20,2013
275,10/10/2013 20:00,drexel,oh,us,circle,300,5 minutes,Yellow/orange&#44 sphere/circle that flew acro...,10/14/2013,39.7463889,-84.286667,10,10,20:00,2013
276,10/10/2013 20:00,hudson,nh,us,light,5,5 seconds,White&#44 orb above the clouds moving very fas...,10/14/2013,42.7647222,-71.440278,10,10,20:00,2013
277,10/10/2013 20:30,grand blanc,mi,us,light,1200,20 minutes,3 bright lights holding a vertical position ov...,10/14/2013,42.9275000,-83.630000,10,10,20:30,2013
278,10/10/2013 20:30,savage,mn,us,circle,60,1 minute,I saw a sphere shaped object flying east to we...,10/14/2013,44.7791667,-93.336111,10,10,20:30,2013
279,10/10/2013 20:32,warren,mi,us,sphere,45,45 seconds,Three glowing reddish-orange spheres changing ...,10/14/2013,42.4775000,-83.027778,10,10,20:32,2013
280,10/10/2013 20:35,canton,mi,us,triangle,180,3 minutes,Black triangle aircraft with white lights on e...,10/14/2013,42.3086111,-83.482222,10,10,20:35,2013
281,10/10/2013 21:17,lost creek,wv,us,triangle,45,45 seconds,Small triangle with 3 lights floating low over...,10/14/2013,39.1611111,-80.352222,10,10,21:17,2013
282,10/10/2013 21:30,hudson,nh,us,light,1,1 second,Very white bright light moving fast inside clo...,10/14/2013,42.7647222,-71.440278,10,10,21:30,2013
453,10/11/2013 01:00,saginaw,mi,us,chevron,4,4 seconds,10 or so dimly lit white lights in a large arr...,10/14/2013,43.4194444,-83.950833,10,11,01:00,2013
455,10/11/2013 06:13,ankeny,ia,us,circle,120,2 minutes,Two slow moving star-like objects suddenly acc...,10/14/2013,41.7297222,-93.605556,10,11,06:13,2013
456,10/11/2013 09:05,palm beach gardens,fl,us,light,15,10-15 seconds,Five orange flying objects in the nights sky a...,10/14/2013,26.8230556,-80.138889,10,11,09:05,2013
458,10/11/2013 16:35,kalamazoo,mi,us,fireball,600,~10 minutes,Massive caravan of a hundred red/orange fireba...,10/14/2013,42.2916667,-85.587222,10,11,16:35,2013
459,10/11/2013 19:00,lawrence,ks,us,unknown,240,2-4 minutes,Silent blue and white lights of craft object c...,10/14/2013,38.9716667,-95.235000,10,11,19:00,2013
461,10/11/2013 19:50,essex junction,vt,us,light,60,60 seconds,4 or 5 Orange Lights in Vermont Sky,10/14/2013,44.4905556,-73.111389,10,11,19:50,2013
462,10/11/2013 20:00,cincinnati,oh,us,circle,300,4-5 minutes,Glowing Orange Fireball/Lights Seen at Turpin ...,2/21/2014,39.1619444,-84.456944,10,11,20:00,2013

In [54]:
Aliens2013_df[['City2', 'junk']] = ''

for index, row in Aliens2013_df.iterrows():
    cty = row['city']
    if '(' in cty:
        Aliens2013_df.loc[index, ['City2', 'junk']] = cty.split('(',2)
        Aliens2013_df.loc[index, 'City2'] = Aliens2013_df.loc[index, 'City2'].strip()
        newcity = Aliens2013_df.loc[index, 'City2']
        print(f'() found for {cty}, new city name is: {newcity}')
    else:
        Aliens2013_df.loc[index, 'City2'] = cty
    if '&#39' in cty:
        b4, aftr = cty.split('&#39',2)
        Aliens2013_df.loc[index, 'City2'] = f'{b4}\'{aftr}'
        print(f'{cty} changed to: {b4}\'{aftr}')

() found for middle island (long island), new city name is: middle island
() found for aspen (~2 hrs. w of; driving), new city name is: aspen
() found for grand junction (east of; on i-70), new city name is: grand junction
() found for orangevale (sacramento), new city name is: orangevale
() found for new york city (brooklyn), new city name is: new york city
() found for holgate (lbi), new city name is: holgate
o&#39fallon changed to: o'fallon
() found for salt lake city (cottonwood heights), new city name is: salt lake city
() found for lake worth (southern blvd.; haverhill exit), new city name is: lake worth
() found for camp verde (south of), new city name is: camp verde
() found for baltimore (city line), new city name is: baltimore
() found for new york city (bronx), new city name is: new york city
() found for new york city (bronx), new city name is: new york city
o&#39fallon changed to: o'fallon
coeur d&#39alene changed to: coeur d'alene
() found for trego (near), new city name is: trego
() found for springfield (?), new city name is: springfield
() found for seagoville (dallas), new city name is: seagoville
() found for seattle (ballard neighborhood), new city name is: seattle
() found for lahaina (maui), new city name is: lahaina
() found for braddock hills (pittsburgh), new city name is: braddock hills
() found for littleton (roxborough), new city name is: littleton
() found for parsons (east of), new city name is: parsons
() found for boulder (near), new city name is: boulder
() found for cleveland (west side of), new city name is: cleveland
() found for oklahoma city (near), new city name is: oklahoma city
() found for shallotte (hwy 17), new city name is: shallotte
() found for san jose (??), new city name is: san jose
() found for maricopa (city of), new city name is: maricopa
() found for bartow county (hwy 20; near wilderness camp rd.), new city name is: bartow county
() found for borrego springs (near), new city name is: borrego springs
o&#39fallon changed to: o'fallon
() found for allentown (east side), new city name is: allentown
() found for orange heights (near), new city name is: orange heights
() found for albany (near), new city name is: albany
() found for tigard (near), new city name is: tigard
() found for portland (southeast of), new city name is: portland
() found for charleston (james island), new city name is: charleston
() found for new york city (brooklyn), new city name is: new york city
() found for sioux falls (outskirts of), new city name is: sioux falls
() found for new york city (bronx), new city name is: new york city
() found for wanamie (newport twp.), new city name is: wanamie
() found for xenia (west of), new city name is: xenia
() found for akron (ellet), new city name is: akron
() found for las vegas (outside of), new city name is: las vegas
coeur d&#39alene changed to: coeur d'alene
coeur d&#39alene changed to: coeur d'alene
() found for forest hills (queens), new city name is: forest hills
() found for amston (hebron), new city name is: amston
() found for new york city (brooklyn), new city name is: new york city
() found for fort defiance (navajo nation), new city name is: fort defiance
() found for pittsburgh (in south hills area), new city name is: pittsburgh
() found for minneapolis (northeast of), new city name is: minneapolis
() found for st. george (northwest of), new city name is: st. george
() found for ridgewood (queens), new city name is: ridgewood
() found for new york city (manhattan), new city name is: new york city
() found for new york city (glen oaks/littleneck area&#44 queens), new city name is: new york city
() found for lynbrook (long island), new city name is: lynbrook
() found for luverne (near), new city name is: luverne
() found for phoenix (near), new city name is: phoenix
() found for tunkhannock (lake carey), new city name is: tunkhannock
() found for los banos (near; on interstate 5), new city name is: los banos
o&#39fallon changed to: o'fallon
() found for mountain home (outskirts of), new city name is: mountain home
() found for richmond (fishing bay), new city name is: richmond
() found for new york city (brooklyn), new city name is: new york city
() found for lexington (west of), new city name is: lexington
d&#39iberville changed to: d'iberville
() found for new york city (bronx&#44 riverdale), new city name is: new york city
() found for maplewood (st. louis), new city name is: maplewood
() found for eufaula (close to), new city name is: eufaula
() found for new york city (bronx), new city name is: new york city
() found for ash springs (near), new city name is: ash springs
() found for newport news (fort eustis), new city name is: newport news
() found for huber heights (bethel township), new city name is: huber heights
coeur d&#39alene changed to: coeur d'alene
() found for florence (near), new city name is: florence
() found for tacoma (northeast area), new city name is: tacoma
() found for new york city (bronx), new city name is: new york city
() found for ashland (west of; hanover county), new city name is: ashland
() found for new york city (brooklyn), new city name is: new york city
() found for new york city (brooklyn), new city name is: new york city
() found for elizabethtown (north of), new city name is: elizabethtown
() found for richmond (south of), new city name is: richmond
o&#39fallon changed to: o'fallon
() found for dayton (drexel area), new city name is: dayton
coeur d&#39alene changed to: coeur d'alene
() found for salinas (~1 hour past; on hwy 101), new city name is: salinas
() found for san diego (north of), new city name is: san diego
() found for allentown (upper macungie twsp), new city name is: allentown
() found for blue springs (east of), new city name is: blue springs
coeur d&#39alene changed to: coeur d'alene
() found for san diego (pacific beach), new city name is: san diego
() found for tacoma (northeast of), new city name is: tacoma
() found for lake george (just north of), new city name is: lake george
() found for columbus (northwest part), new city name is: columbus
() found for new york city (brooklyn), new city name is: new york city
() found for new york city (brooklyn), new city name is: new york city
() found for new york city (bronx), new city name is: new york city
() found for new york city (bronx), new city name is: new york city
o&#39fallon changed to: o'fallon
() found for new york city (queens; fresh meadows), new city name is: new york city
() found for seattle (west seattle/seatac), new city name is: seattle
o&#39fallon changed to: o'fallon
coeur d&#39alene changed to: coeur d'alene
() found for albuquerque (southeast), new city name is: albuquerque
() found for lake geneva (near), new city name is: lake geneva
() found for panoche (near; on i-5), new city name is: panoche
() found for new york city (bronx), new city name is: new york city
coeur d&#39alene changed to: coeur d'alene
coeur d&#39alene changed to: coeur d'alene
() found for winchester (near), new city name is: winchester
() found for santa barbara (north of), new city name is: santa barbara
() found for lancaster county (south of willow street), new city name is: lancaster county
o&#39fallon changed to: o'fallon
() found for charleston (south), new city name is: charleston
() found for deming (near), new city name is: deming
() found for royal city (north of), new city name is: royal city
o&#39fallon changed to: o'fallon
() found for maine (southeast), new city name is: maine
() found for buffalo (west of; on highway 90 west), new city name is: buffalo

In [55]:
Aliens2013_df.head(50)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),latitude,longitude,Month,Day,Time,Year,City2,junk,county
0,10/10/2013 02:32,palm harbor,fl,us,chevron,5,5 seconds,28.0777778,-82.763889,10,10,02:32,2013,palm harbor,,
1,10/10/2013 17:00,st. louis county,mo,us,light,10800,2-3 hours,38.6272222,-90.197778,10,10,17:00,2013,st. louis county,,
2,10/10/2013 19:00,rittman,oh,us,light,60,1 minute,40.9780556,-81.782222,10,10,19:00,2013,rittman,,
3,10/10/2013 19:20,essex junction,vt,us,light,120,2 minutes,44.4905556,-73.111389,10,10,19:20,2013,essex junction,,
4,10/10/2013 19:20,kenner,la,us,circle,600,10 minutes,29.9938889,-90.241667,10,10,19:20,2013,kenner,,
5,10/10/2013 20:00,drexel,oh,us,circle,300,5 minutes,39.7463889,-84.286667,10,10,20:00,2013,drexel,,
6,10/10/2013 20:00,hudson,nh,us,light,5,5 seconds,42.7647222,-71.440278,10,10,20:00,2013,hudson,,
7,10/10/2013 20:30,grand blanc,mi,us,light,1200,20 minutes,42.9275000,-83.630000,10,10,20:30,2013,grand blanc,,
8,10/10/2013 20:30,savage,mn,us,circle,60,1 minute,44.7791667,-93.336111,10,10,20:30,2013,savage,,
9,10/10/2013 20:32,warren,mi,us,sphere,45,45 seconds,42.4775000,-83.027778,10,10,20:32,2013,warren,,
10,10/10/2013 20:35,canton,mi,us,triangle,180,3 minutes,42.3086111,-83.482222,10,10,20:35,2013,canton,,
11,10/10/2013 21:17,lost creek,wv,us,triangle,45,45 seconds,39.1611111,-80.352222,10,10,21:17,2013,lost creek,,
12,10/10/2013 21:30,hudson,nh,us,light,1,1 second,42.7647222,-71.440278,10,10,21:30,2013,hudson,,
13,10/11/2013 01:00,saginaw,mi,us,chevron,4,4 seconds,43.4194444,-83.950833,10,11,01:00,2013,saginaw,,
14,10/11/2013 06:13,ankeny,ia,us,circle,120,2 minutes,41.7297222,-93.605556,10,11,06:13,2013,ankeny,,
15,10/11/2013 09:05,palm beach gardens,fl,us,light,15,10-15 seconds,26.8230556,-80.138889,10,11,09:05,2013,palm beach gardens,,
16,10/11/2013 16:35,kalamazoo,mi,us,fireball,600,~10 minutes,42.2916667,-85.587222,10,11,16:35,2013,kalamazoo,,
17,10/11/2013 19:00,lawrence,ks,us,unknown,240,2-4 minutes,38.9716667,-95.235000,10,11,19:00,2013,lawrence,,
18,10/11/2013 19:50,essex junction,vt,us,light,60,60 seconds,44.4905556,-73.111389,10,11,19:50,2013,essex junction,,
19,10/11/2013 20:00,cincinnati,oh,us,circle,300,4-5 minutes,39.1619444,-84.456944,10,11,20:00,2013,cincinnati,,
20,10/11/2013 20:00,cincinnati,oh,us,fireball,240,4 minutes,39.1619444,-84.456944,10,11,20:00,2013,cincinnati,,
21,10/11/2013 20:00,naples,fl,us,light,7200,few hours,26.1416667,-81.795000,10,11,20:00,2013,naples,,
22,10/11/2013 20:15,cincinnati,oh,us,fireball,60,1 minute,39.1619444,-84.456944,10,11,20:15,2013,cincinnati,,
23,10/11/2013 20:15,union,ky,us,fireball,300,5 minutes,38.9458333,-84.680556,10,11,20:15,2013,union,,
24,10/11/2013 20:20,hubbardston,ma,us,fireball,60,1 minute,42.4736111,-72.006667,10,11,20:20,2013,hubbardston,,
25,10/11/2013 20:45,covington,ga,us,light,300,5 minutes,33.5966667,-83.860278,10,11,20:45,2013,covington,,
26,10/11/2013 21:00,drexel,oh,us,sphere,180,3 minutes,39.7463889,-84.286667,10,11,21:00,2013,drexel,,
27,10/11/2013 21:00,fayetteville,ny,us,chevron,90,90 seconds,43.0297222,-76.004722,10,11,21:00,2013,fayetteville,,
28,10/11/2013 22:00,jupiter,fl,us,light,900,15 minutes,26.9338889,-80.094444,10,11,22:00,2013,jupiter,,
29,10/11/2013 22:00,melbourne,fl,us,sphere,300,5 minutes,28.0833333,-80.608333,10,11,22:00,2013,melbourne,,
30,10/11/2013 22:08,dresser,wi,us,sphere,60,1 minutes,45.3561111,-92.633333,10,11,22:08,2013,dresser,,
31,10/11/2013 22:10,lombard,il,us,formation,60,1 minute,41.8800000,-88.007778,10,11,22:10,2013,lombard,,
32,10/11/2013 23:00,north canton,oh,us,fireball,10,10 seconds,40.8758333,-81.402500,10,11,23:00,2013,north canton,,
33,10/11/2013 23:15,pinckney,mi,us,fireball,2,2 seconds,42.4566667,-83.946389,10,11,23:15,2013,pinckney,,
34,10/1/2013 03:00,colorado springs,co,us,triangle,5400,90 minutes,38.8338889,-104.820833,10,1,03:00,2013,colorado springs,,
35,10/1/2013 06:35,bel air,md,us,flash,4,2-4 seconds,39.5358333,-76.348611,10,1,06:35,2013,bel air,,
36,10/1/2013 07:40,bakersfield,ca,us,circle,30,30 seconds,35.3733333,-119.017778,10,1,07:40,2013,bakersfield,,
37,10/1/2013 09:43,muncie,in,us,triangle,7200,2 hours,40.1933333,-85.386389,10,1,09:43,2013,muncie,,
38,10/1/2013 12:30,pittsburgh,pa,us,unknown,60,1 minute,40.4405556,-79.996111,10,1,12:30,2013,pittsburgh,,
39,10/1/2013 12:30,pittsburgh,pa,us,unknown,60,<i minute,40.4405556,-79.996111,10,1,12:30,2013,pittsburgh,,
40,10/1/2013 18:30,boulder,co,us,light,240,3-4 minutes,40.0150000,-105.270000,10,1,18:30,2013,boulder,,
41,10/1/2013 19:15,thibodaux,la,us,unknown,300,5 minutes,29.7955556,-90.822778,10,1,19:15,2013,thibodaux,,
42,10/1/2013 19:20,webster,ny,us,sphere,1800,30 minutes,43.2122222,-77.430278,10,1,19:20,2013,webster,,
43,10/1/2013 19:25,southwest ranches,fl,us,light,300,5 minutes,26.0583333,-80.337500,10,1,19:25,2013,southwest ranches,,
44,10/1/2013 20:00,tampa,fl,us,light,3600,45-60 minutes,27.9472222,-82.458611,10,1,20:00,2013,tampa,,
45,10/1/2013 21:30,cumming,ga,us,fireball,1200,20 minutes,34.2072222,-84.140278,10,1,21:30,2013,cumming,,
46,10/1/2013 21:40,sneedville,tn,us,circle,90,1-1.5 minutes,36.5297222,-83.217500,10,1,21:40,2013,sneedville,,
47,10/1/2013 22:10,white lake,mi,us,unknown,900,15 minutes,42.6916667,-83.554167,10,1,22:10,2013,white lake,,
48,10/1/2013 22:30,waterloo,ia,us,triangle,60,1 minute,42.4927778,-92.342778,10,1,22:30,2013,waterloo,,
49,10/1/2013 22:45,middle island (long island),ny,us,fireball,1200,20 minutes,40.8841667,-72.937778,10,1,22:45,2013,middle island,long island),

In [56]:
Aliens2013_df['county'] = ""

params = {"key": gkey}
count = 0
 
for index, row in Aliens2013_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    x = 0
    cty = row['City2']
    ste = row['state']

    # update address key value
    params['address'] = f"{cty},{ste}"

    # make request and convert to json
    try:
        counties_df = requests.get(base_url, params=params).json()
        # loop through json looking for county level
        for y in counties_df["results"][0]["address_components"]:
            if counties_df["results"][0]["address_components"][x]['types'][0] == 'administrative_area_level_2':
                Aliens2013_df.loc[index, 'county'] = counties_df["results"][0]["address_components"][x]["long_name"]
#                 strg2=f'county found for {index}, {cty}, {ste}'
#                 print(strg2)
            else:
                x = x + 1
                if x == len(counties_df["results"][0]["address_components"]):
                    Aliens2013_df.loc[index, 'county'] = f'{cty} city'
                    strg2=f'No county level found for {cty}, {ste}: {cty} city used instead'
                    print(strg2)
    except (KeyError, IndexError):
        count = count + 1
        strg=f'no key found for {index}, {cty}, {ste}, {count}'
        print(strg)

Aliens2013_df.head(20)

No county level found for st. louis, mo: st. louis city used instead
No county level found for suffolk, va: suffolk city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for saint louis, mo: saint louis city used instead
No county level found for manassas, va: manassas city used instead
No county level found for colonial heights, va: colonial heights city used instead
No county level found for alexandria, va: alexandria city used instead
No county level found for richmond, va: richmond city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for baltimore, md: baltimore city used instead
No county level found for newport news, va: newport news city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for baltimore, md: baltimore city used instead
No county level found for covington, va: covington city used instead
No county level found for manassas, va: manassas city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for bristol, va: bristol city used instead
No county level found for hampton, va: hampton city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for baltimore, md: baltimore city used instead
No county level found for richmond, va: richmond city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for fredericksburg, va: fredericksburg city used instead
No county level found for manassas, va: manassas city used instead
No county level found for baltimore, md: baltimore city used instead
No county level found for hampton, va: hampton city used instead
No county level found for falls church, va: falls church city used instead
No county level found for winchester, va: winchester city used instead
No county level found for roanoke, va: roanoke city used instead
No county level found for falls church, va: falls church city used instead
No county level found for baltimore, md: baltimore city used instead
No county level found for alexandria, va: alexandria city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for fredericksburg, va: fredericksburg city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for carson city, nv: carson city city used instead
No county level found for richmond, va: richmond city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for chesapeake, va: chesapeake city used instead
No county level found for baltimore, md: baltimore city used instead
No county level found for fairfax, va: fairfax city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for chesapeake, va: chesapeake city used instead
No county level found for fredericksburg, va: fredericksburg city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for hampton, va: hampton city used instead
No county level found for richmond, va: richmond city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for alexandria, va: alexandria city used instead
No county level found for richmond, va: richmond city used instead
No county level found for williamsburg, va: williamsburg city used instead
No county level found for chesapeake, va: chesapeake city used instead
No county level found for fairfax, va: fairfax city used instead
No county level found for winchester, va: winchester city used instead
No county level found for norfolk, va: norfolk city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for lynchburg, va: lynchburg city used instead
No county level found for fredericksburg, va: fredericksburg city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for richmond, va: richmond city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for portsmouth, va: portsmouth city used instead
No county level found for fairfax, va: fairfax city used instead
No county level found for richmond, va: richmond city used instead
No county level found for fredericksburg, va: fredericksburg city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for richmond, va: richmond city used instead
No county level found for richmond, va: richmond city used instead
No county level found for winchester, va: winchester city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for richmond, va: richmond city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for chesapeake, va: chesapeake city used instead
No county level found for roanoke, va: roanoke city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for norfolk, va: norfolk city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for lynchburg, va: lynchburg city used instead
No county level found for bristol, va: bristol city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for norfolk, va: norfolk city used instead
No county level found for staunton, va: staunton city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for newport news, va: newport news city used instead
No county level found for alexandria, va: alexandria city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for roanoke, va: roanoke city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for hampton, va: hampton city used instead
No county level found for richmond, va: richmond city used instead
No county level found for st. louis, mo: st. louis city used instead
No county level found for danville, va: danville city used instead
No county level found for fredericksburg, va: fredericksburg city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for waynesboro, va: waynesboro city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for new york, ny: new york city used instead
No county level found for staunton, va: staunton city used instead
No county level found for new york city, ny: new york city city used instead

No county level found for roanoke, va: roanoke city used instead
No county level found for newport news, va: newport news city used instead
No county level found for newport news, va: newport news city used instead
No county level found for petersburg, va: petersburg city used instead
No county level found for harrisonburg, va: harrisonburg city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for richmond, va: richmond city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for new york city, ny: new york city city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for richmond, va: richmond city used instead
No county level found for fredericksburg, va: fredericksburg city used instead
No county level found for saint louis, mo: saint louis city used instead
No county level found for suffolk, va: suffolk city used instead
No county level found for baltimore, md: baltimore city used instead
No county level found for manassas, va: manassas city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for virginia beach, va: virginia beach city used instead
No county level found for richmond, va: richmond city used instead
No county level found for portsmouth, va: portsmouth city used instead
No county level found for richmond, va: richmond city used instead
No county level found for maine, me: maine city used instead
No county level found for norfolk, va: norfolk city used instead

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),latitude,longitude,Month,Day,Time,Year,City2,junk,county
0,10/10/2013 02:32,palm harbor,fl,us,chevron,5,5 seconds,28.0777778,-82.763889,10,10,02:32,2013,palm harbor,,Pinellas County
1,10/10/2013 17:00,st. louis county,mo,us,light,10800,2-3 hours,38.6272222,-90.197778,10,10,17:00,2013,st. louis county,,St. Louis County
2,10/10/2013 19:00,rittman,oh,us,light,60,1 minute,40.9780556,-81.782222,10,10,19:00,2013,rittman,,Wayne County
3,10/10/2013 19:20,essex junction,vt,us,light,120,2 minutes,44.4905556,-73.111389,10,10,19:20,2013,essex junction,,Chittenden County
4,10/10/2013 19:20,kenner,la,us,circle,600,10 minutes,29.9938889,-90.241667,10,10,19:20,2013,kenner,,Jefferson Parish
5,10/10/2013 20:00,drexel,oh,us,circle,300,5 minutes,39.7463889,-84.286667,10,10,20:00,2013,drexel,,Montgomery County
6,10/10/2013 20:00,hudson,nh,us,light,5,5 seconds,42.7647222,-71.440278,10,10,20:00,2013,hudson,,Hillsborough County
7,10/10/2013 20:30,grand blanc,mi,us,light,1200,20 minutes,42.9275000,-83.630000,10,10,20:30,2013,grand blanc,,Genesee County
8,10/10/2013 20:30,savage,mn,us,circle,60,1 minute,44.7791667,-93.336111,10,10,20:30,2013,savage,,Scott County
9,10/10/2013 20:32,warren,mi,us,sphere,45,45 seconds,42.4775000,-83.027778,10,10,20:32,2013,warren,,Macomb County
10,10/10/2013 20:35,canton,mi,us,triangle,180,3 minutes,42.3086111,-83.482222,10,10,20:35,2013,canton,,Wayne County
11,10/10/2013 21:17,lost creek,wv,us,triangle,45,45 seconds,39.1611111,-80.352222,10,10,21:17,2013,lost creek,,Harrison County
12,10/10/2013 21:30,hudson,nh,us,light,1,1 second,42.7647222,-71.440278,10,10,21:30,2013,hudson,,Hillsborough County
13,10/11/2013 01:00,saginaw,mi,us,chevron,4,4 seconds,43.4194444,-83.950833,10,11,01:00,2013,saginaw,,Saginaw County
14,10/11/2013 06:13,ankeny,ia,us,circle,120,2 minutes,41.7297222,-93.605556,10,11,06:13,2013,ankeny,,Polk County
15,10/11/2013 09:05,palm beach gardens,fl,us,light,15,10-15 seconds,26.8230556,-80.138889,10,11,09:05,2013,palm beach gardens,,Palm Beach County
16,10/11/2013 16:35,kalamazoo,mi,us,fireball,600,~10 minutes,42.2916667,-85.587222,10,11,16:35,2013,kalamazoo,,Kalamazoo County
17,10/11/2013 19:00,lawrence,ks,us,unknown,240,2-4 minutes,38.9716667,-95.235000,10,11,19:00,2013,lawrence,,Douglas County
18,10/11/2013 19:50,essex junction,vt,us,light,60,60 seconds,44.4905556,-73.111389,10,11,19:50,2013,essex junction,,Chittenden County
19,10/11/2013 20:00,cincinnati,oh,us,circle,300,4-5 minutes,39.1619444,-84.456944,10,11,20:00,2013,cincinnati,,Hamilton County

In [64]:
for index, row in Aliens2013_df.iterrows():
    cnty = row['county']
    if cnty ==  'new york city city':
        Aliens2013_df.loc[index, 'county'] = 'new york county'
        print(f'{cnty} changed to new york county')

new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county
new york city city changed to new york county

In [71]:
for index, row in Aliens2013_df.iterrows():    
    upperstring2 = row['county']   
    lowerstring2 = upperstring2.lower()
    Aliens2013_df.loc[index, 'county'] = lowerstring2

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),latitude,longitude,Month,Day,Time,Year,City2,junk,county
0,10/10/2013 02:32,palm harbor,fl,us,chevron,5,5 seconds,28.0777778,-82.763889,10,10,02:32,2013,palm harbor,,pinellas county
1,10/10/2013 17:00,st. louis county,mo,us,light,10800,2-3 hours,38.6272222,-90.197778,10,10,17:00,2013,st. louis county,,st. louis county
2,10/10/2013 19:00,rittman,oh,us,light,60,1 minute,40.9780556,-81.782222,10,10,19:00,2013,rittman,,wayne county
3,10/10/2013 19:20,essex junction,vt,us,light,120,2 minutes,44.4905556,-73.111389,10,10,19:20,2013,essex junction,,chittenden county
4,10/10/2013 19:20,kenner,la,us,circle,600,10 minutes,29.9938889,-90.241667,10,10,19:20,2013,kenner,,jefferson parish

In [75]:
Aliens2013_df=Aliens2013_df.drop(['junk', 'datetime', 'country', 'city'], axis=1)
Aliens2013_df.to_csv(r'/Users/doggger/Desktop/AlienProject/project-1-alien-analysis/data\2013ufo.csv', index = False)
Aliens2013_df.head()

,state,shape,duration (seconds),duration (hours/min),latitude,longitude,Month,Day,Time,Year,City2,county
0,fl,chevron,5,5 seconds,28.0777778,-82.763889,10,10,02:32,2013,palm harbor,pinellas county
1,mo,light,10800,2-3 hours,38.6272222,-90.197778,10,10,17:00,2013,st. louis county,st. louis county
2,oh,light,60,1 minute,40.9780556,-81.782222,10,10,19:00,2013,rittman,wayne county
3,vt,light,120,2 minutes,44.4905556,-73.111389,10,10,19:20,2013,essex junction,chittenden county
4,la,circle,600,10 minutes,29.9938889,-90.241667,10,10,19:20,2013,kenner,jefferson parish

In [72]:
unemployment_df = pd.read_csv("Data/Unemployment.csv")
unemployment_df = unemployment_df[['Stabr', 'area_name', 'Unemployment_rate_2013']]
unemployment_df['state'] = ""
unemployment_df['county'] = ""
for index, row in unemployment_df.iterrows():
    upperstring = row['Stabr']
    lowerstring = upperstring.lower()
    unemployment_df.loc[index, 'state'] = lowerstring
    unemployment_df[['county', 'junk']] = unemployment_df['area_name'].str.split(',',expand=True)
    
for index, row in unemployment_df.iterrows():    
    upperstring2 = row['county']   
    lowerstring2 = upperstring2.lower()
    unemployment_df.loc[index, 'county'] = lowerstring2
unemployment_df = unemployment_df.drop(['Stabr', 'area_name', 'junk'], axis=1)
unemployment_df.to_csv(r'/Users/doggger/Desktop/AlienProject/project-1-alien-analysis/data\unemp.csv', index = False)

In [67]:
unemployment_df.head()

   Unemployment_rate_2013 state          county
0                     7.4    us   united states
1                     7.2    al         alabama
2                     6.2    al  autauga county
3                     6.6    al  baldwin county
4                    10.2    al  barbour county

In [61]:
stloius = unemployment_df.loc[unemployment_df['state']=='ny']
stloius['county'].unique()

array(['New York', 'Albany County', 'Allegany County', 'Bronx County',
       'Broome County', 'Cattaraugus County', 'Cayuga County',
       'Chautauqua County', 'Chemung County', 'Chenango County',
       'Clinton County', 'Columbia County', 'Cortland County',
       'Delaware County', 'Dutchess County', 'Erie County',
       'Essex County', 'Franklin County', 'Fulton County',
       'Genesee County', 'Greene County', 'Hamilton County',
       'Herkimer County', 'Jefferson County', 'Kings County',
       'Lewis County', 'Livingston County', 'Madison County',
       'Monroe County', 'Montgomery County', 'Nassau County',
       'New York County', 'Niagara County', 'Oneida County',
       'Onondaga County', 'Ontario County', 'Orange County',
       'Orleans County', 'Oswego County', 'Otsego County',
       'Putnam County', 'Queens County', 'Rensselaer County',
       'Richmond County', 'Rockland County', 'St. Lawrence County',
       'Saratoga County', 'Schenectady County', 'Schoharie County',
       'Schuyler County', 'Seneca County', 'Steuben County',
       'Suffolk County', 'Sullivan County', 'Tioga County',
       'Tompkins County', 'Ulster County', 'Warren County',
       'Washington County', 'Wayne County', 'Westchester County',
       'Wyoming County', 'Yates County'], dtype=object)

In [76]:
unified2013_df = Aliens2013_df.merge(unemployment_df, how='left', on=['state', 'county'])
unified2013_df.head(20)

,state,shape,duration (seconds),duration (hours/min),latitude,longitude,Month,Day,Time,Year,City2,county,Unemployment_rate_2013
0,fl,chevron,5,5 seconds,28.0777778,-82.763889,10,10,02:32,2013,palm harbor,pinellas county,6.6
1,mo,light,10800,2-3 hours,38.6272222,-90.197778,10,10,17:00,2013,st. louis county,st. louis county,6.2
2,oh,light,60,1 minute,40.9780556,-81.782222,10,10,19:00,2013,rittman,wayne county,6.2
3,vt,light,120,2 minutes,44.4905556,-73.111389,10,10,19:20,2013,essex junction,chittenden county,3.4
4,la,circle,600,10 minutes,29.9938889,-90.241667,10,10,19:20,2013,kenner,jefferson parish,6.3
5,oh,circle,300,5 minutes,39.7463889,-84.286667,10,10,20:00,2013,drexel,montgomery county,8.3
6,nh,light,5,5 seconds,42.7647222,-71.440278,10,10,20:00,2013,hudson,hillsborough county,5.4
7,mi,light,1200,20 minutes,42.9275000,-83.630000,10,10,20:30,2013,grand blanc,genesee county,9.7
8,mn,circle,60,1 minute,44.7791667,-93.336111,10,10,20:30,2013,savage,scott county,4.4
9,mi,sphere,45,45 seconds,42.4775000,-83.027778,10,10,20:32,2013,warren,macomb county,9.5
10,mi,triangle,180,3 minutes,42.3086111,-83.482222,10,10,20:35,2013,canton,wayne county,11.5
11,wv,triangle,45,45 seconds,39.1611111,-80.352222,10,10,21:17,2013,lost creek,harrison county,5.6
12,nh,light,1,1 second,42.7647222,-71.440278,10,10,21:30,2013,hudson,hillsborough county,5.4
13,mi,chevron,4,4 seconds,43.4194444,-83.950833,10,11,01:00,2013,saginaw,saginaw county,9.0
14,ia,circle,120,2 minutes,41.7297222,-93.605556,10,11,06:13,2013,ankeny,polk county,4.8
15,fl,light,15,10-15 seconds,26.8230556,-80.138889,10,11,09:05,2013,palm beach gardens,palm beach county,7.1
16,mi,fireball,600,~10 minutes,42.2916667,-85.587222,10,11,16:35,2013,kalamazoo,kalamazoo county,6.9
17,ks,unknown,240,2-4 minutes,38.9716667,-95.235000,10,11,19:00,2013,lawrence,douglas county,4.8
18,vt,light,60,60 seconds,44.4905556,-73.111389,10,11,19:50,2013,essex junction,chittenden county,3.4
19,oh,circle,300,4-5 minutes,39.1619444,-84.456944,10,11,20:00,2013,cincinnati,hamilton county,7.3

In [77]:
unified2013_df.to_csv(r'/Users/doggger/Desktop/AlienProject/project-1-alien-analysis/data\unified2013.csv', index = False)