In [1]:
# Dependencies
import pandas as pd
import requests
import json

# Google developer API key
from config import gkey

In [2]:
# Import csv files as DataFrames
Aliens1_df = pd.read_csv("Data/scrubbed.csv")
Aliens1_df.head()

C:\Users\Doggger\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [3]:
# Selecting subset of US
Aliens1_df = Aliens1_df.loc[(Aliens1_df['country'] == 'us')]

#Creating new vairables for month, day, time and year from datetime
Aliens1_df[['Month', 'Day', 'Time']] = Aliens1_df['datetime'].str.split('/',expand=True)
Aliens1_df['Year']= Aliens1_df['Time'].str[0:4]
Aliens1_df['Time']= Aliens1_df['Time'].str[5:10]

#Further selecting subset for time frame on interest
Aliens1_df = Aliens1_df[Aliens1_df['Year'].between('1993', '2020')]

#Removes the space in the longitude column name
Aliens1_df = Aliens1_df.rename(columns={'longitude ': 'longitude'})
Aliens1_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year
56,10/10/1993 22:00,peoria,il,us,light,8,8 seconds,Light over Peoria&#44 IL that moves slowly&#44...,10/11/2005,40.6936111,-89.588889,10,10,22:00,1993
57,10/10/1993 23:00,carthage,tn,us,other,60,less than 1 min,1 object with green and red lights,3/21/2003,36.2522222,-85.951667,10,10,23:00,1993
59,10/10/1994 18:30,burnt hills,ny,us,rectangle,120,2 minutes,Giant rectangular craft (resembling an upside-...,10/23/2013,42.9097222,-73.895556,10,10,18:30,1994
60,10/10/1994 22:00,pinebergen,ar,us,light,5,5 seconds,Round&#44 bright&#44 low flying object silentl...,2/18/2001,34.1027778,-91.992222,10,10,22:00,1994
62,10/10/1995 19:45,milwaukee,wi,us,NaN,120,2 min.,Man on Hwy 43 SW of Milwaukee sees large&#44 ...,11/2/1999,43.0388889,-87.906389,10,10,19:45,1995

In [4]:
# Creates new df with only 2013 data
Aliens2013_df = Aliens1_df.loc[(Aliens1_df['Year'] == '2013')]
Aliens2013_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year
267,10/10/2013 02:32,palm harbor,fl,us,chevron,5,5 seconds,Tracking north to south at apx 2500 ft. A very...,10/14/2013,28.0777778,-82.763889,10,10,02:32,2013
269,10/10/2013 17:00,st. louis county,mo,us,light,10800,2-3 hours,Hovering bright object moving slowly around St...,10/23/2013,38.6272222,-90.197778,10,10,17:00,2013
271,10/10/2013 19:00,rittman,oh,us,light,60,1 minute,Fast moving white light.,10/14/2013,40.9780556,-81.782222,10,10,19:00,2013
273,10/10/2013 19:20,essex junction,vt,us,light,120,2 minutes,Noiseless&#44 low flying&#44 white&#44 bright ...,10/14/2013,44.4905556,-73.111389,10,10,19:20,2013
274,10/10/2013 19:20,kenner,la,us,circle,600,10 minutes,2 circle lights moving erratically over Kenner...,10/14/2013,29.9938889,-90.241667,10,10,19:20,2013

In [13]:
Aliens2013_df['county'] = ""

params = {"key": gkey}
params['result_type'] = 'administrative_area_level_2'
count = 0
 
for index, row in Aliens2013_df.head(20).iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    lat = row['latitude']
    lng = row['longitude']
    cty = row['city']
    ste = row['state']

    # update address key value
    params['latlng'] = f"{lat},{lng}"

    # make request and convert to json
    try:
        counties_df = requests.get(base_url, params=params).json()
    #print(json.dumps(counties_df, indent=4, sort_keys=True))
        Aliens2013_df.loc[index, 'county'] = counties_df["results"][0]["address_components"][0]["short_name"]
    except (KeyError, IndexError):
        strg=f'no key found for {index}, {cty}, {ste}, {count}'
        print(strg)
        count = count +1

Aliens2013_df.head(20)

C:\Users\Doggger\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Doggger\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

no key found for datetime                                                 10/10/2013 17:00
city                                                     st. louis county
state                                                                  mo
country                                                                us
shape                                                               light
duration (seconds)                                                  10800
duration (hours/min)                                            2-3 hours
comments                Hovering bright object moving slowly around St...
date posted                                                    10/23/2013
latitude                                                       38.6272222
longitude                                                        -90.1978
Month                                                                  10
Day                                                                    10
Time                                                                17:00
Year                                                                 2013
county
Name: 269, dtype: object, st. louis county, mo, 0

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year,county
267,10/10/2013 02:32,palm harbor,fl,us,chevron,5,5 seconds,Tracking north to south at apx 2500 ft. A very...,10/14/2013,28.0777778,-82.763889,10,10,02:32,2013,Pinellas County
269,10/10/2013 17:00,st. louis county,mo,us,light,10800,2-3 hours,Hovering bright object moving slowly around St...,10/23/2013,38.6272222,-90.197778,10,10,17:00,2013,
271,10/10/2013 19:00,rittman,oh,us,light,60,1 minute,Fast moving white light.,10/14/2013,40.9780556,-81.782222,10,10,19:00,2013,Wayne County
273,10/10/2013 19:20,essex junction,vt,us,light,120,2 minutes,Noiseless&#44 low flying&#44 white&#44 bright ...,10/14/2013,44.4905556,-73.111389,10,10,19:20,2013,Chittenden County
274,10/10/2013 19:20,kenner,la,us,circle,600,10 minutes,2 circle lights moving erratically over Kenner...,10/14/2013,29.9938889,-90.241667,10,10,19:20,2013,Jefferson Parish
275,10/10/2013 20:00,drexel,oh,us,circle,300,5 minutes,Yellow/orange&#44 sphere/circle that flew acro...,10/14/2013,39.7463889,-84.286667,10,10,20:00,2013,Montgomery County
276,10/10/2013 20:00,hudson,nh,us,light,5,5 seconds,White&#44 orb above the clouds moving very fas...,10/14/2013,42.7647222,-71.440278,10,10,20:00,2013,Hillsborough County
277,10/10/2013 20:30,grand blanc,mi,us,light,1200,20 minutes,3 bright lights holding a vertical position ov...,10/14/2013,42.9275000,-83.630000,10,10,20:30,2013,Genesee County
278,10/10/2013 20:30,savage,mn,us,circle,60,1 minute,I saw a sphere shaped object flying east to we...,10/14/2013,44.7791667,-93.336111,10,10,20:30,2013,Scott County
279,10/10/2013 20:32,warren,mi,us,sphere,45,45 seconds,Three glowing reddish-orange spheres changing ...,10/14/2013,42.4775000,-83.027778,10,10,20:32,2013,Macomb County
280,10/10/2013 20:35,canton,mi,us,triangle,180,3 minutes,Black triangle aircraft with white lights on e...,10/14/2013,42.3086111,-83.482222,10,10,20:35,2013,Wayne County
281,10/10/2013 21:17,lost creek,wv,us,triangle,45,45 seconds,Small triangle with 3 lights floating low over...,10/14/2013,39.1611111,-80.352222,10,10,21:17,2013,Harrison County
282,10/10/2013 21:30,hudson,nh,us,light,1,1 second,Very white bright light moving fast inside clo...,10/14/2013,42.7647222,-71.440278,10,10,21:30,2013,Hillsborough County
453,10/11/2013 01:00,saginaw,mi,us,chevron,4,4 seconds,10 or so dimly lit white lights in a large arr...,10/14/2013,43.4194444,-83.950833,10,11,01:00,2013,Saginaw County
455,10/11/2013 06:13,ankeny,ia,us,circle,120,2 minutes,Two slow moving star-like objects suddenly acc...,10/14/2013,41.7297222,-93.605556,10,11,06:13,2013,Polk County
456,10/11/2013 09:05,palm beach gardens,fl,us,light,15,10-15 seconds,Five orange flying objects in the nights sky a...,10/14/2013,26.8230556,-80.138889,10,11,09:05,2013,Palm Beach County
458,10/11/2013 16:35,kalamazoo,mi,us,fireball,600,~10 minutes,Massive caravan of a hundred red/orange fireba...,10/14/2013,42.2916667,-85.587222,10,11,16:35,2013,Kalamazoo County
459,10/11/2013 19:00,lawrence,ks,us,unknown,240,2-4 minutes,Silent blue and white lights of craft object c...,10/14/2013,38.9716667,-95.235000,10,11,19:00,2013,Douglas County
461,10/11/2013 19:50,essex junction,vt,us,light,60,60 seconds,4 or 5 Orange Lights in Vermont Sky,10/14/2013,44.4905556,-73.111389,10,11,19:50,2013,Chittenden County
462,10/11/2013 20:00,cincinnati,oh,us,circle,300,4-5 minutes,Glowing Orange Fireball/Lights Seen at Turpin ...,2/21/2014,39.1619444,-84.456944,10,11,20:00,2013,Hamilton County

In [22]:
unemployment_df = pd.read_csv("Data/Unemployment.csv")
unemployment_df = unemployment_df[['Stabr', 'area_name', 'Unemployment_rate_2013']]
unemployment_df['state'] = ""
unemployment_df['county'] = ""
for index, row in unemployment_df.iterrows():
    upperstring = row['Stabr']
    lowerstring = upperstring.lower()
    unemployment_df.loc[index, 'state'] = lowerstring
        
unemployment_df.head()

  Stabr           area_name  Unemployment_rate_2013 state
0    US       United States                     7.4    us
1    AL             Alabama                     7.2    al
2    AL  Autauga County, AL                     6.2    al
3    AL  Baldwin County, AL                     6.6    al
4    AL  Barbour County, AL                    10.2    al

In [ ]:
states = {
        'AK': 'O',
        'AL': 'S',
        'AR': 'S',
        'AS': 'O',
        'AZ': 'W',
        'CA': 'W',
        'CO': 'W',
        'CT': 'N',
        'DC': 'N',
        'DE': 'N',
        'FL': 'S',
        'GA': 'S',
        'GU': 'O',
        'HI': 'O',
        'IA': 'M',
        'ID': 'W',
        'IL': 'M',
        'IN': 'M',
        'KS': 'M',
        'KY': 'S',
        'LA': 'S',
        'MA': 'N',
        'MD': 'N',
        'ME': 'N',
        'MI': 'W',
        'MN': 'M',
        'MO': 'M',
        'MP': 'O',
        'MS': 'S',
        'MT': 'W',
        'NA': 'O',
        'NC': 'S',
        'ND': 'M',
        'NE': 'W',
        'NH': 'N',
        'NJ': 'N',
        'NM': 'W',
        'NV': 'W',
        'NY': 'N',
        'OH': 'M',
        'OK': 'S',
        'OR': 'W',
        'PA': 'N',
        'PR': 'O',
        'RI': 'N',
        'SC': 'S',
        'SD': 'M',
        'TN': 'S',
        'TX': 'S',
        'UT': 'W',
        'VA': 'S',
        'VI': 'O',
        'VT': 'N',
        'WA': 'W',
        'WI': 'M',
        'WV': 'S',
        'WY': 'W'
}