In [15]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import datetime
#import

In [16]:
#import csv
alien_duration_shape_df = pd.read_csv('../project-1-alien-analysis/ufo_dates.csv')
alien_duration_shape_df.dropna(inplace = True) 
alien_duration_shape_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year
0,10/10/1993 22:00,peoria,il,us,light,8.0,8 seconds,Light over Peoria&#44 IL that moves slowly&#44...,10/11/2005,40.693611,-89.588889,10,10,22:00,1993
1,10/10/1993 23:00,carthage,tn,us,other,60.0,less than 1 min,1 object with green and red lights,3/21/2003,36.252222,-85.951667,10,10,23:00,1993
2,10/10/1994 18:30,burnt hills,ny,us,rectangle,120.0,2 minutes,Giant rectangular craft (resembling an upside-...,10/23/2013,42.909722,-73.895556,10,10,18:30,1994
3,10/10/1994 22:00,pinebergen,ar,us,light,5.0,5 seconds,Round&#44 bright&#44 low flying object silentl...,2/18/2001,34.102778,-91.992222,10,10,22:00,1994
6,10/10/1996 03:20,higginsville,mo,us,triangle,3.0,3sec,illuminated triangular craft&#44 flying at hig...,2/16/2000,39.072500,-93.716944,10,10,03:20,1996

In [17]:
#sort by duration

alien_duration_shape_df.sort_values(by=['duration (seconds)'], inplace=True, ascending=False)
alien_duration_shape_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year
51148,8/24/2002 01:00,englewood,fl,us,light,52623200.0,2 months,bright stars&#44 moving erratically&#44 over t...,8/28/2002,26.961667,-82.352778,8,24,01:00,2002
47878,8/10/2012 21:00,finley,wa,us,light,52623200.0,2 months,There have been several flying objects in a pe...,8/19/2012,46.154167,-119.032778,8,10,21:00,2012
23904,3/1/1994 01:00,menifee,ca,us,unknown,10526400.0,4 months,Sun City / Menifee UFO sightings in 1994,2/22/2005,33.728333,-117.145556,3,1,01:00,1994
52659,8/3/2008 21:00,virginia beach,va,us,fireball,10526400.0,4 months,this object was very high up and emmited no so...,8/12/2008,36.852778,-75.978333,8,3,21:00,2008
39828,6/30/2002 22:00,honolulu,hi,us,circle,6312000.0,years,Green glowing UFOs and some that look like sta...,2/1/2007,21.306944,-157.858333,6,30,22:00,2002

In [18]:
#sort by shape
alien_duration_shape_df.sort_values(by=['shape'], inplace=True, ascending=True)
alien_duration_shape_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year
38824,6/24/1996 00:30,aurora,co,us,changed,3600.0,1 hour,Obj. hovered 100 ft above car. Red&#44 blue l...,11/2/1999,39.729444,-104.831389,6,24,00:30,1996
26258,3/26/2002 20:47,lincoln,ne,us,changing,360.0,6 minutes,I saw two space alien ships fighting with each...,6/12/2002,40.800000,-96.666667,3,26,20:47,2002
2830,10/22/2008 00:45,columbus,oh,us,changing,300.0,3-5 min,White-blue lights over Columbus&#44 Ohio,10/31/2008,39.961111,-82.998889,10,22,00:45,2008
5791,1/10/2005 22:06,scottsdale,az,us,changing,2100.0,35 minutes,Pulsating twinkling light in the sky over the ...,1/11/2005,33.509167,-111.898333,1,10,22:06,2005
50397,8/20/2013 16:00,santa barbara,ca,us,changing,300.0,>>5 minutes,Moving SEMI-VISIBLE striped waving object.,11/11/2013,34.420833,-119.697222,8,20,16:00,2013

In [19]:
alien_duration_shape_df.sort_values(by=['state'], inplace=True, ascending=True)
alien_duration_shape_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year
23119,2/6/2002 00:35,north pole,ak,us,other,30.0,30 seconds,&#39Rocket boosters&#39 over North Pole AK,2/22/2002,64.751111,-147.349444,2,6,00:35,2002
19955,2/10/1999 20:40,north pole,ak,us,sphere,1200.0,20 minites approx.,At about 2040 AKST North Pole Alaska area towa...,4/2/1999,64.751111,-147.349444,2,10,20:40,1999
26908,3/31/2009 23:00,fairbanks,ak,us,light,600.0,10 min or so,UFO&#39s in Fairbanks&#44 Alaska,4/14/2009,64.837778,-147.716389,3,31,23:00,2009
55180,9/15/1998 23:00,auke bay,ak,us,light,37800.0,1 1/2 hrs,A very bright light&#44 small red glow on top....,9/26/1998,58.383333,-134.659722,9,15,23:00,1998
8585,1/1/2010 12:01,willow,ak,us,sphere,660.0,10-11 min,4 redishorange shpereiodical objects appear du...,2/14/2010,61.747222,-150.037500,1,1,12:01,2010

In [20]:
alien_duration_shape_df["duration (seconds)"].describe()

count    5.812500e+04
mean     4.260498e+03
std      3.208654e+05
min      1.000000e-02
25%      3.000000e+01
50%      1.800000e+02
75%      6.000000e+02
max      5.262320e+07
Name: duration (seconds), dtype: float64

In [21]:
alien_duration_shape_df.describe()

,duration (seconds),latitude,longitude,Month,Day,Year
count,5.812500e+04,58125.000000,58125.000000,58125.000000,58125.000000,58125.000000
mean,4.260498e+03,38.308106,-95.811667,6.866133,15.230004,2006.843303
std,3.208654e+05,5.568777,18.091329,3.306503,8.879563,5.059988
min,1.000000e-02,17.967778,-170.478889,1.000000,1.000000,1993.000000
25%,3.000000e+01,34.075278,-115.136389,4.000000,8.000000,2003.000000
50%,1.800000e+02,38.897500,-90.152778,7.000000,15.000000,2008.000000
75%,6.000000e+02,41.914167,-81.090556,10.000000,23.000000,2011.000000
max,5.262320e+07,70.636944,-65.831667,12.000000,31.000000,2014.000000